body{
    background: url('background.jpg');
}

.block{

    text-align: center;
    height: 50px;
    
    color: white;
    background: rgb(16, 192, 154);
    border: solid black 1px;
    height: 50px;


}

h1{
    text-align: center;
    color: red;
    
}


.block:hover{
    background: rgb(118, 236, 221);
    border:solid red 1px;
    color: black;
    cursor:pointer;
}

.block-content{
    padding: 10px;
}

.reset{
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    text-align: center;
    color: white;
    background: rgb(19, 7, 182);
    border: solid black 1px;
    height: 50px;
    padding: 0px;
    font-size: 30px;
    display: none;


}

.reset:hover{
    background: rgb(78, 81, 235);
    color: black;
    cursor: pointer;
    border: solid red 1px;
    
}

